@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

@keyframes customPulse {
      0%   { transform: scale(1);   opacity:1; }
      10%  { transform: scale(1.25); opacity:0; }  /* fast blast */
      100% { transform: scale(1.25); opacity:0; }   /* stay dead */
    }

    .pulse-ring {
      animation: customPulse 3s ease-out infinite;
    }
    group:hover .pulse-ring {
      animation-play-state: paused;
      opacity:0; /* optional: hide ring instantly when hover */
    }
    
